aio-pika
aiofiles
alembic
bcrypt
celery
email_validator
fastapi
Flask
Flask-Admin
Flask-Security
jinja2
markupsafe
psycopg2-binary
pydantic
python-dateutil
python-dotenv
redis
requests
sqlalchemy
uvicorn
WTForms
