@import '../globals';

.custom-tooltip {
    .red {
        color: $pink;
    }
    display: flex;
    flex-direction: column;
    background: rgba(255, 255, 255, 0.9);
    border: 1px solid $blue;
    padding: 7px;
}
